venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env

# Django
*.sqlite3
backend/media/

# Node
frontend/node_modules/
hr_dashboard/node_modules/

# Build outputs
frontend/dist/
hr_dashboard/dist/

# OS
.DS_Store
Thumbs.db
